# Environment (allow templates)
.env*
!.env.*.template

# Build Output
build/
dist/
dist-ssr
.gradle
node_modules
out/
bin/
.vercel

# Gradle Wrapper Exception
!gradle/wrapper/gradle-wrapper.jar

# Source Folder Exceptions
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/out/
!**/src/test/**/out/

# VS Code
.vscode/
!.vscode/extensions.json

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS & Editor Junk
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Configs
*.local