{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "printWidth": 120,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@sanity/(.*)$", "^(@config|@db/(.*))$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tailwindStylesheet": "./apps/web/src/main.css"
}
